header{
    background-color: rgb(142, 194, 234);
    padding-top:5px;
}

nav ul {
    list-style-type:none;
    background-color:#333;
    overflow:hidden;
}
nav li{
    float:left;
}
nav li a {
    display:block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    font-size:18px;
    text-decoration: none;
}
nav li a:hover{
    background-color: grey;
}
h1{
    text-align: center;
}
#World-info{
    float:left;
}

#World-info p {
    text-align: left;
    font-size: 20px;
}


.Fun-Facts{
float: right;;
}
.Fun-Facts p{
    text-align: left;
}

.US-timezone {
    display:flex;
    align-items: center;
    justify-content: center;
    float:left;
}

.NYC-Text {
    font-size: 25px;
padding-left: 20px;
float:right;
margin-left: 200px;
text-align: center;
}

.England-Zone {
    display:flex;
    align-items: center;
    justify-content: center;
    float:left;
}

.England-Text {
    font-size: 25px;
padding-left: 20px;
float:right;
margin-left: 250px;
text-align: center;
}

.India-Zone {
    display:flex;
    align-items: center;
    justify-content: center;
    float:left;
    
}

.India-Text {
    font-size: 25px;
padding-left: 20px;
float:right;
margin-left: 300px;
text-align: center;
}

.Australia-Zone{
    display:flex;
    align-items: center;
    justify-content: center;
    float:left;
}

.Australia-Text {
    font-size: 25px;
padding-left: 20px;
float:right;
margin-left: 250px;
text-align: center;
}

.Country-Times {
    background-color: rgb(195, 187, 187)
}

.two-cols .dif-zones{
    float:right;
}

.two-cols .US-info{
    float:left;
}
.two-cols .US-info,
.two-cols .dif-zones{
    width: 49%;
}
